Package: kmod-b43
Version: 3.18.29+2016-01-10-1
Depends: kernel (=3.18.29-1-323ddff3815060f451000e3062dd4e1d), kmod-mac80211
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm47xx
Installed-Size: 293290
Description:  Kernel module for Broadcom 43xx wireless support (mac80211 stack) new
