Package: kmod-cfg80211
Version: 3.18.29+2016-01-10-1
Depends: kernel (=3.18.29-1-323ddff3815060f451000e3062dd4e1d), iw
Source: package/kernel/mac80211
Section: kernel
Maintainer: Felix Fietkau <nbd@openwrt.org>
Architecture: brcm47xx
Installed-Size: 127299
Description:  cfg80211 is the Linux wireless LAN (802.11) configuration API.
